::ng-deep { 
    .mat-dialog-container {
      background: #FFF;
      color: #000000;
  }
} 

.handle-area {
  background: #CCC;
  border-left: 2px dotted grey;
  border-right: 2px dotted grey;
  height: inherit;
}

pre {
  background-color: #f6f6f6;
}