<ng-container> 
  <header>   
    <div class="nav">  
        <ng-template #defaultNavigation> 
            <div class="default-navigation">
                <p>Default navigation..</p>
            </div>
        </ng-template>

        <ng-container *ngTemplateOutlet="navigationTemplate ? navigationTemplate: defaultNavigation"></ng-container>
    </div>
  </header>

    <div class="header">
        <div class="title">
            <ng-container *ngTemplateOutlet="titleTemplate"></ng-container>
        </div>
        <div class="actions">
            <ng-container *ngTemplateOutlet="actionTemplate"></ng-container>
        </div>
        <div class="search">
            <ng-container *ngTemplateOutlet="searchTemplate"></ng-container>
        </div> 
    </div>
    <div class="content">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container> 
    </div>
</ng-container>