<div id="articles-list"> 
    <page-carded>   
       <ng-template #nav>custom Nav..</ng-template>

        <ng-template #title>
            <h1>Users list</h1>
        </ng-template> 

        <ng-template #action>
            <h1>Actions..</h1>
        </ng-template>

        <ng-template #search>search...</ng-template>

        <ng-template #content>
            <table>
                <tr *ngFor="let item of dataSource">
                    {{item.firstName}}
                    {{item.lastName}}
                </tr>
            </table>
        </ng-template>
 
    </page-carded>
</div>