<alert>
  <ng-template #customButtonTemplate let-on="on" let-alertsArray="alertsArray">
    <div *ngFor="let alert of alertsArray" class="{{ on.cssClass(alert) }}">
      <a class="close" (click)="on.remove(alert)">&times;</a> 
      <span [innerHTML]="alert.message"></span>
   </div>
  </ng-template>
</alert>
  
<div class="container-fluid">
  <div class="row"> 
    <div class="col-1">
      <div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    
       <a class="nav-link" routerLink="/home" routerLinkActive="active" id="v-pills-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
    
       <a class="nav-link" routerLink="/test" id="v-pills-profile-tab" data-toggle="pill" role="tab" aria-controls="v-pills-profile" aria-selected="false">Test</a>
    
       <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-messages" aria-selected="false">-</a>
    
       <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-settings" aria-selected="false">-</a>
     </div> 
    </div>
    <div class="col"> 
      <div class="container-fluid">
        <div class="row"> 
         <div class="col">

          <main role="main">
           <div class="container">
             <div class="row"> 
                <h1>Angular hjälpbibliotek</h1> 
             </div>
             <router-outlet></router-outlet>
            </div>
          </main>
        </div>
     </div>
    </div> 
  </div>
 </div>
</div>