<div *ngIf="numberOfPagesView" class="properties">
 <p>Sida: {{ activePageNumber }} av {{ pagesOfItems.length }}</p>
</div>

<div class="pagination-container">
  <div class="first" [class.disabled]="activePageNumber === defaultPageNumber" (click)="firstPage()">First</div>
   <div class="prev" [class.disabled]="activePageNumber === defaultPageNumber" (click)="previousPage()">&laquo;</div>

    <ng-container *ngFor="let page of pagesOfItemsSliced">
      <div class="pageItem" [ngClass]="{'active': page.active}" (click)="changePageNavigation(page.number)">
       {{ page.number }}
      </div>
    </ng-container>

   <div class="next" [class.disabled]="activePageNumber === pagesOfItems.length" (click)="nextPage()">&raquo;</div>
  <div class="last" [class.disabled]="activePageNumber === pagesOfItems.length" (click)="lastPage()">Last</div>
</div>