.pagination-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; 
    height: 100%;
    border-radius: .25rem;
    overflow: hidden;
    background-color: #000000;
    color: inherit;
    font-family: inherit;
    font-size: inherit;

    .first {
       @extend .pageItem; 
       flex-grow: 1;
    }

    .prev { 
       @extend .pageItem; 
       flex-grow: 1; 
    }

    .pageItem { 
       flex-grow: 1;
       font-size: 10;
       cursor: pointer;
       text-align: center;
       padding: .5rem .75rem;
       background-color: #fff; 
       border: 1px solid #dee2e6;

       -webkit-touch-callout: none; /* iOS Safari */
       -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Old versions of Firefox */
           -ms-user-select: none; /* Internet Explorer/Edge */
               user-select: none; /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */

       &:hover:not(.active) {
         background-color: #e9ecef;
         border-color: #dee2e6;
         color: inherit;
       }

    }

    .active {
      background-color: #007bff;
      border-color: #007bff;
      color: #fff;
    }

    .next { 
       @extend .pageItem; 
       flex-grow: 1; 
    } 
      
    .last {
       @extend .pageItem; 
       flex-grow: 1;
    }

    .disabled {
       cursor: not-allowed !important;  
    } 
}
 
.properties {
   margin: 10px 0px 5px 0px;
}