<div class="container">
  <div class="row">
    <h3><b>Pipes |</b></h3>
  </div>
  <div class="row">
   <div class="col">
    
<div class="card">
  <div class="card-body">
    <h3 class="card-title text-info">replaceByPipe</h3>
    <p class="card-text text-secondary">Beskrivning: För att ersätta en bokstav etc.</p> 
   <pre> 
      <code>{{ 'Adam' | replaceByPipe: 'A': ' '</code> }}
   </pre>

   <div class="text-success">Output<hr>
     <p><b>{{ 'Adam' | replaceByPipe: 'A': ' ' }}</b></p>
   </div>
  </div>
</div>

<div class="card mt-2">
<div class="card-body">
  <h3 class="card-title text-info">callbackFilter</h3>
  <p class="card-text text-secondary">Beskrivning: För att filtrera värden i en iteration etc.</p> 
  <pre>
    <code> 
      *ngFor="let person of personArray | callbackFilter: filterObj
    </code>
  </pre>

  <div class="text-success">Output<hr>
    <li *ngFor="let person of personArray | callbackFilter: filterObj">
      <b>{{ person.firstName }}</b>
    </li> 
  </div>
</div>
</div>

<div class="card mt-2">
<div class="card-body">
<h3 class="card-title text-info">defaultPipe</h3>
<p class="card-text text-secondary">Beskrivning: För att visa ett default värde om inget värde finns.</p>  
  <pre> 
    <code>{{ myVar | defaultPipe: 'default value' </code> }}
 </pre>  

<div class="text-success">Output<hr>
  <p><b>{{ defaultPipeTest | defaultPipe: 'default value' }}</b></p>
</div>
</div>
</div>

<div class="card mt-2">
<div class="card-body">
<h3 class="card-title text-info">debounceInputPipe</h3>
<p class="card-text text-secondary">Beskrivning: Fördröjning x antal ms sekunder (default 500) innan nytt värde visas.</p>
 <pre> 
  {{ <code>userInput | debounceInputPipe: 1200 </code> }}
 </pre>

<div class="text-success">Output<hr> 
  <input type="text" class="form-control" name="testar" [(ngModel)]="userInput" placeholder="Ange ett värde" />
  <br>
  <br>
   <p><b>{{ userInput | debounceInputPipe: 1200 }}</b></p>
</div>
</div>
</div>

<div class="row mt-2">
<h3><b>Components</b></h3>
</div>

<div class="card mt-2">
<div class="card-body">
<h3 class="card-title text-info">read-more</h3>
<p class="card-text text-secondary">Beskrivning: Lägg till i vyn för att dölja långa texter där användaren kan välja att expandera eller dölja texten. <br> 
Det finns en default vy och en custom vy man kan lägga till.</p> 
<pre> &lt;read-more&gt;text&lt;/read-more&gt;</pre>
För custom vyn så ger man komponenten en ng-template och namnge den som #customButtonTemplate

<div class="text-success">Output<hr> 
 <read-more>
   Testar test test test asdasd asdsad sad sadasd sadsad oaskodoadskodsao koaskdoosaokadso sakodkosakdko kaosd
   <ng-template #customButtonTemplate let-isCollapsed="isCollapsed">
     <button class="btn btn-primary">
       <span *ngIf="isCollapsed">Visa mer</span>
       <span *ngIf="!isCollapsed">Dölj</span>
     </button>
   </ng-template>
  </read-more>
</div>
</div>
</div>

<div class="card mt-2">
<div class="card-body">
<h3 class="card-title text-info">read-more-modal</h3>
<p class="card-text text-secondary">Beskrivning: Lägg till i vyn för att dölja långa texter där användaren kan välja att expandera eller dölja texten med en modal dialog. <br> 
Komponenten tar emot två stycken ng templates #customModalTemplate och #customButtonTemplate</p>

<pre> &lt;read-more-modal&gt;text&lt;/read-more-modal&gt;</pre>
<div class="text-success">Output<hr>

  <read-more-modal>Test testar testoksa oskadkosakd okasTest testar testoksa oskadkosakd okasTest testar testoksa oskadkosakd okasTest testar testoksa
    <ng-template #customModalTemplate>
      <div mat-dialog-content [hidden]="hide">
        Test testar testoksa oskadkosakd okasTest testar testoksa oskadkosakd okasTest testar testoksa oskadkosakd okasTest testar testoksa
      </div>
      <h1>HEJ</h1>
      <div class="float-left">
        <button class="btn btn-success" (click)="toggleHide()">Testar med en knapp!</button>
      </div>
      <div class="float-right">
        <button class="btn btn-danger">En till knapp..</button>
      </div> 
    </ng-template> 
  </read-more-modal> 
</div>
</div>
</div>

<div class="card mt-2">
<div class="card-body">
<h3 class="card-title text-info">Resizable/dragable splitter component</h3>
<p class="card-text text-secondary">Beskrivning: Används till för att separera och vi innehåll. <br> 
  Komponenten tar emot tre stycken ng templates, inputs: 'left' 'right' 'bottom'</p>
<div class="text-success">Output<hr>
  
  <resizable-splitter [left]="left" [handler]="handler" [right]="right" [bottom]="bottom"></resizable-splitter>

  <ng-template #left>
    <div class="card h-100">
      <div class="card-body">
        <h3 clsas="card-title text-info">Left container</h3>
        <p class="card-text text-secondary">innehåll... ijsaoidjsaoijijsaoidjsaoijijsaoidjsaoijijsaoidjsaoijijsaoidjsaoijijsaoidaoidjsaoijijsaoidaoidjsaoijijsaoidjsaoijijsaoidjsaoijijsaoidjsaoijijsaoidjsaoijijsaoidjsaoijoijijsaoidjsaoijijsaoidjs</p>
      </div>
  </div> 
  </ng-template>

  <ng-template #handler>
    <div class="handle-area"></div>
  </ng-template>

  <ng-template #right> 
    <div class="card h-100">
       <div class="card-body">
         <h3 clsas="card-title text-info">Right container</h3>
         <p class="card-text text-secondary">inasd saidjsadi oiasjdoiasj ijsaoidjsaoijoiasjdoiasj ijsaoidjsaoijoiasjdoiasj ijsaoidjsaoijijsaoidjsaoij ijsaoidjsaoijijsaoidjsaoij</p>
       </div>
     </div>
  </ng-template>

  <ng-template #bottom> 
   <div class="card mt-1">
      <div class="card-body">
        <h3 clsas="card-title text-info">Bottom container</h3>
        <p class="card-text text-secondary">innehåll...</p>
      </div>
    </div>  
  </ng-template> 
</div>
</div>
</div> 

<div class="card mt-2">
  <div class="card-body">
    <h3 class="card-title text-info">Alert component</h3>
    <p class="card-text text-secondary">Beskrivning: Används till för att lägga till meddelanden till användaren. <br>test</p>
    <div class="text-success">Output<hr>  
       <button class="btn btn-success" (click)="alertService.success('Varningstyp: Success - meddelande..', this.options)">Test success</button> 
       <button class="btn btn-danger ml-1" (click)="alertService.error('Varningstyp: Error - meddelande..', this.options)">Error</button>
       <button class="btn btn-warning ml-1" (click)="alertService.warning('Varningstyp: Warning - meddelande..', this.options)">Warning</button>
       <button class="btn btn-info ml-1" (click)="alertService.info('Varningstyp: Info - meddelande..', this.options)">Info</button>
      <div class="form-group mt-2">
        <div class="form-check">
          <input type="checkbox" name="keepAfterRouteChange" id="keepAfterRouteChange" [(ngModel)]="options.keepAfterRouteChange" class="form-check-input">
          <label for="keepAfterRouteChange">option: ta inte bort efter route ändring</label>
        </div>
        <div class="form-check">
          <input type="checkbox" name="autoClose" id="autoClose" [(ngModel)]="options.autoClose" class="form-check-input">
          <label for="autoClose">option: auto stäng</label>
        </div>
      </div>
    </div>
  </div>  
</div>

<div class="card mt-2">
  <div class="card-body">
    <h3 class="card-title text-info">Pagination component</h3>
    <p class="card-text card-secondary">Beskrivning: Paginering till för att navigera ..</p>
    <div class="text-success">
       Output<hr>
       <!-- Items -->
       <div *ngFor="let item of pageOfItemsArray">
         {{item.name}}
       </div>
       <!-- Pagination -->
       <pagination [items]="itemsArray"
                   [numberOfPagesView]="true"
                   [itemsPerPage]="10"   
                   (pageChange)="onPageChanged($event)"></pagination>
    </div>
  </div>
</div>
</div>
</div> 
</div>